.signUpContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

  .inscription {
    width: 400px;
    h1 {
      font-size: 34px;
      font-weight: bold;
      text-transform: none;
      line-height: normal;
      margin-bottom: 0;
      text-align: center;
    }
    h3 {
      font-size: 15px;
      margin-top: 5px;
      text-align: center;
      color: #45d492;
      margin-bottom: 10%;
    }
    label {
      font-size: 15px;
      font-weight: bold;
      color: #222222;
    }

    .login-form-button {
      width: 100%;
      background-color: #ef5d36;
      border-color: #ef5d36;
      color: white;

      &:hover {
        background-color: white;
        color: #ef5d36;
      }
    }

    a {
      color: #ef5d36;
      font-weight: bold;
    }
  }
}
