.signUpContainer {
  width: 100%;
  .logoHetic {
    display: flex;
    justify-content: flex-end;
    margin: 72px 112px;
  }
  .inscription {
    width: 400px;
    margin-left: 112px;
    h1 {
      font-size: 34px;
      font-weight: bold;
      text-transform: none;
      line-height: normal;
      margin-bottom: 0;
    }
    h3 {
      width: 280px;
      height: 24px;
      font-size: 15px;
      font-weight: normal;
      color: #868686;
      margin-top: 5px;
      line-height: normal;
    }

    label {
      font-size: 15px;
      font-weight: bold;
      color: black;
    }
    .login-form-button {
      width: 100%;
    }

    a {
      color: #00ff97;
      font-weight: bold;
    }
  }
}
