.loginContainer {
    width: 100%;
  .logoHetic {
    display: flex;
    justify-content: flex-end;
    margin: 72px 112px;
  }
  .connection {
    width: 400px;
    margin-left: 112px;
    padding-top: 5%;
    h1 {
      font-size: 34px;
      font-weight: bold;
      text-transform: none;
    }
    h3 {
      width: 280px;
      height: 24px;
      font-size: 15px;
      font-weight: normal;
      color: #868686;
    }

    label {
      font-size: 15px;
      font-weight: bold;
      color: black;
    }
    .login-form-button {
      width: 100%;
    }
  }
}
